CompileFlags:
  CompilationDatabase: "build"
  Add:
    [
      "-isystem",
      "C:/msys64/ucrt64/include",
      "-isystem",
      "C:/msys64/ucrt64/lib/gcc/x86_64-w64-mingw32/14.2.0/include",
    ]
